<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>工作</string>
		<key>color</key>
		<string>紫色</string>
		<key>musicName</key>
		<string>送别</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>学习</string>
		<key>color</key>
		<string>蓝色</string>
		<key>musicName</key>
		<string>月色思念</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>锻炼</string>
		<key>color</key>
		<string>青色</string>
		<key>musicName</key>
		<string>美丽的神话</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>冥想</string>
		<key>color</key>
		<string>绿色</string>
		<key>musicName</key>
		<string>梁祝</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>愿望</string>
		<key>color</key>
		<string>黄色</string>
		<key>musicName</key>
		<string>但愿相别不相忘</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>日常</string>
		<key>color</key>
		<string>橙色</string>
		<key>musicName</key>
		<string>茉莉花</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>杂事</string>
		<key>color</key>
		<string>赤色</string>
		<key>musicName</key>
		<string>江南雨</string>
		<key>diligenceTime</key>
		<integer>25</integer>
		<key>restTime</key>
		<integer>5</integer>
		<key>isRestModeEnabled</key>
		<true/>
		<key>isFocusModeEnabled</key>
		<false/>
		<key>isMusicModeEnabled</key>
		<true/>
		<key>isAlertModeEnabled</key>
		<false/>
		<key>alertTime</key>
		<date>2017-02-08T02:00:00Z</date>
	</dict>
</dict>
</plist>
